:root {
    --color-primary-50: 237, 237, 245;
    --color-primary-100: 210, 210, 230;
    --color-primary-200: 170, 169, 200;
    --color-primary-300: 130, 128, 170;
    --color-primary-400: 56, 50, 120;
    --color-primary-500: 13, 12, 47;
    --color-primary-600: 13, 12, 47;
    --color-primary-700: 10, 9, 38;
    --color-primary-800: 7, 6, 30;
    --color-primary-900: 5, 4, 22;
    --color-primary-950: 3, 2, 15;
}
